<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| AJAX | AXIOS | FORM DATA 전송 |</title>
    <script src="./vue/lib/vue.js"></script>
    <script src="./js/lib/jquery.min.js"></script>
    <script src="./js/lib/axios.min.js"></script>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/reset.css">

</head>
<body>
<div id="form-wrap">

    <div id="app">
        <h1>회원 관리</h1>
        <form name="memberForm" id="memberForm" method="POST" action="./response.php">
            <div class="form-box">
                <ul>
                    <li>
                        <div>
                            <label for="userId">ID</label>
                            <input type="text" name="userId" id="userId" v-model='userId' placeholder="Enter your ID.">
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="userPw">PASSWORD</label>
                            <input type="password" name="userPw" id="userPw" v-model='userPw' placeholder="at least 8 characters">
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="userEmail">Email</label>
                            <input type="text" name="userEmail" id="userEmail" v-model='userEmail' placeholder="Enter your Email.">
                        </div>
                    </li>
                </ul>
                <div>
                    <input type="button" v-on:click.prevent='memberFn' value="전송(Submit)">
                    <!-- <input type="submit" value="전송(Submit)"> -->
                </div>
            </div>
        </form>
    </div>
    

    <script>
        var app = new Vue({
            // el: '#app',
            data: {
                arr: [],
                userId: '',
                userPw: '',
                userEmail: ''
            },
            methods: {
                memberFn: function() {
                    alert('전송버튼 클릭!');

                    var url = './response.php';
                    var data = {
                        userId : this.userId,
                        userPw : this.userPw,
                        userEmail : this.userEmail
                    }

                    // axios는 폼데이터 객체를 생성하여 데이터 전송해야 함.
                    var form = new FormData();
                        form.append('userId', this.userId)
                        form.append('userPw', this.userPw)
                        form.append('userEmail', this.userEmail)

                    axios.post(url, form)
                        .then(response => {
                            this.arr = response.data;
                            // console.log(response.data);
                        })
                        .catch(function(error) {
                            console.log.error;
                        })
                }
            }
        }).$mount('#app'); // el 대신 씀. CLI에서 자주 씀.

    </script>

</div>
</body>
</html>